RewriteEngine on
RewriteCond %{HTTP_HOST} !^www.crowngroup.ru [NC]
RewriteRule ^(.*)$ http://www.crowngroup.ru/$1 [R=301,L]

RewriteEngine On
RewriteCond %{REQUEST_FILENAME} -s [OR]
RewriteCond %{REQUEST_FILENAME} -l [OR]
RewriteCond %{REQUEST_FILENAME} -d
RewriteRule ^.*$ - [NC,L]
RewriteRule ^.*$ index.php [NC,L]